{% extends 'chatapp/base.html' %}

{% block body %}
<div class="flex items-center justify-center min-h-screen">
    <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">        
        <!-- display validation errors if any -->

        <!-- Display validation errors if any -->
        {% if user_form.errors %}
        <div class="error-message text-red-500">
            <ul>
                {% for field in user_form %}
                {% if field.errors %}
                <li>{{ field.errors }}</li>
                {% endif %}
                {% endfor %}
                {% for error in user_form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <!-- Sign-up form starts -->
      <h2 class="text-2xl font-bold mb-4">➚ Sign-Up!</h2>
      <form class="space-y-4" method="post">
        {% csrf_token %}
        <div>
          <label class="block mb-1 font-medium" for="first_name">First Name</label>
          <div class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            {{ user_form.first_name }}
          </div>
        </div>
        <div>
          <label class="block mb-1 font-medium" for="last_name">Last Name</label>
          <div class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            {{ user_form.last_name }}
          </div>
        </div>
        <div>
          <label class="block mb-1 font-medium" for="email">Email</label>
          <div class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            {{ user_form.email }}
          </div>
        </div>
        <div>
          <label class="block mb-1 font-medium" for="username">Username</label>
          <div class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            {{ user_form.username }}
          </div>
        </div>
        <div>
          <label class="block mb-1 font-medium" for="password">Password</label>
          <div class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            {{ user_form.password }}
          </div>
        </div>
        <div>
          <label class="block mb-1 font-medium" for="confirm_password">Confirm Password</label>
          <div class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            {{ user_form.password2 }}
          </div>
        </div>
        <div>
            <button type="submit" class="w-full px-4 py-2 bg-gray-500 text-white font-bold rounded-md hover:bg-gray-600">Register</button>
        </div>
      </form>
    </div>
  </div>
  
  
{% endblock %}
